@use "/src/assets/scss/base/variable" as var;

.hero-section{
    background-image: linear-gradient(rgba(var.$main-color, .7), rgba(var.$main-color, .6)) ,url("/src/assets/images/home/bg-img-home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .content{
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .flex{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
        }
        
        .hero-title{
            font-size: 3rem;
            line-height: 1.2;
            text-align: center;
            color: var.$white-color;
        }
        .hero-subtitle{
            color: var.$white-color;
            text-align: center;
            font-size: 1.2rem;
        }
        .btn-explore{
            display: inline-flex;
            align-items: center;
            gap: .8rem;
            padding: .8rem 1rem;
            font-size: .9rem;
            font-weight: 600;
            text-decoration: none;
            border-radius: 50px;
            color: var.$white-color;
            border: .1rem solid var.$white-color;

            .fa-solid{
                font-size: 1.2rem;
            }
        }
    }
    .stats{
        min-height: 20vh;
        background-color: var.$black-primary;    
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        padding-bottom: .8rem;
        .stats-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            gap: 1rem;

            .stats-item{
                h2{
                    color: var.$secondary-color;
                    font-size: 2rem;
                    text-align: center;
                }
                p{
                    color: var.$white-color;
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
    }
}

/*............VERSION RESPONSIVE.................*/

@media screen and (max-width: 1200px) {
      
    .hero-section .content{
        .hero-title{
            font-size: 2.5rem;
        }
        .hero-subtitle{
            font-size: 1rem;
        }
    }

}