$main-color: #132642;
$secondary-color: #082e6b;

$light-color: #666666;
$white-color: #fff;
$black-primary: #222;
// $bg-color: #EFF0FE;
$light-white: #EFEFFD;

$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
$border: .1rem solid rgba(0,0,0, .2);
