@use "sass:color";

$main-color: #132642;
$secondary-color:#033078;

$light-gray-color: #746a6a;

$white-color: #fff;
$light-white: #EFEFFD;

$black-primary: #222;

$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
$border: .1rem solid rgba(0,0,0, .2);
